<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title th:text="${title}"></title>
<link rel="stylesheet" th:href="@{${cssPath}}" />
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script th:src="|${javscriptPath}|"></script>
</head>

<body>
	<div class="header" align="center">
		<h1 th:inline="text">
			[[${header}]] <img th:src="${weatherIconPath}" width="100"
				height="100" />
		</h1>
	</div>
	<div align="center">
		<table>
			<tr>
				<td align="center"><h3 th:text="${heading}"></h3></td>
				<td></td>
			</tr>
			<tr>
				<td>
					<div class="autocomplete" style="width: 300px;">
						<input id="myCity" type="text" placeholder="City">
					</div>
				</td>
				<td><img id="getWeather" alt="Add" width="30" height="30"
					th:src="${plusIconPath}" /></td>
			</tr>
		</table>
		<div id="cityWeatherDiv" class="scroll">
			<table>
				<tr id="cityWeatherRow">
					<!-- Dynamic creation of Cells -->
				</tr>
			</table>
		</div>
	</div>
	<div class="footer">
		<p th:text="${footer}"></p>
	</div>
</body>

</html>
